<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.admin.consumer.mapper.TUserMapper">
    <resultMap id="BaseResultMap" type="com.xl.admin.consumer.entity.TUser">
        <id column="LGC_SN" jdbcType="VARCHAR" property="lgcSn" />
        <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
        <result column="CREATE_DT" jdbcType="TIMESTAMP" property="createDt" />
        <result column="UPDATE_DT" jdbcType="TIMESTAMP" property="updateDt" />
        <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
        <result column="REMAKE" jdbcType="VARCHAR" property="remake" />
        <result column="DELETED" jdbcType="VARCHAR" property="deleted" />
        <result column="INS_ID" jdbcType="VARCHAR" property="insId" />
    </resultMap>

    <sql id="Base_Column_List">
        LGC_SN, USER_ID, USER_NAME, CREATE_DT, UPDATE_DT, "PASSWORD", REMAKE, DELETED, INS_ID
    </sql>

    <select id="selectUserAndInsByUserID" parameterType="string" resultType="com.xl.admin.consumer.entity.TUser">
            select LGC_SN, USER_ID, USER_NAME, CREATE_DT, UPDATE_DT, "PASSWORD", REMAKE, DELETED, t.INS_ID ,INS_NM
            from T_USER t left join  CFG_T_INS_INF c on t.INS_ID= c.INS_ID
            where t.USER_ID = #{lgcSn,jdbcType=VARCHAR}
    </select>

</mapper>
